rules_version='2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{document=**} {
      // For now, allow logged-in users to read/write their own data
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Rules for publicly shared cards
    match /users/shared/cards/{cardId} {
      // Anyone can read a shared card
      allow get;
      
      // Writes are handled by a server-side action, so no client writes allowed
      allow list, create, update, delete: if false;
    }
  }
}
